/*
 * Adobe Experience Manager (AEM) API
 * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 * The version of the OpenAPI document: 3.7.1-pre.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api.adobe;

import com.google.gson.reflect.TypeToken;

import java.util.ArrayList;
import java.util.Arrays;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import io.restassured.RestAssured;
import io.restassured.builder.RequestSpecBuilder;
import io.restassured.builder.ResponseSpecBuilder;
import io.restassured.http.Method;
import io.restassured.response.Response;

import java.lang.reflect.Type;
import java.util.function.Consumer;
import java.util.function.Function;
import java.util.function.Supplier;
import org.openapitools.client.service.adobeService.JSON;
import static io.restassured.http.Method.*;

public class CustomApi {

    private Supplier<RequestSpecBuilder> reqSpecSupplier;
    private Consumer<RequestSpecBuilder> reqSpecCustomizer;

    private CustomApi(Supplier<RequestSpecBuilder> reqSpecSupplier) {
        this.reqSpecSupplier = reqSpecSupplier;
    }

    public static CustomApi custom(Supplier<RequestSpecBuilder> reqSpecSupplier) {
        return new CustomApi(reqSpecSupplier);
    }

    private RequestSpecBuilder createReqSpec() {
        RequestSpecBuilder reqSpec = reqSpecSupplier.get();
        if(reqSpecCustomizer != null) {
            reqSpecCustomizer.accept(reqSpec);
        }
        return reqSpec;
    }

    public List<Oper> getAllOperations() {
        return Arrays.asList(
                getAemHealthCheck(),
                postConfigAemHealthCheckServlet(),
                postConfigAemPasswordReset()
        );
    }

    public GetAemHealthCheckOper getAemHealthCheck() {
        return new GetAemHealthCheckOper(createReqSpec());
    }

    public PostConfigAemHealthCheckServletOper postConfigAemHealthCheckServlet() {
        return new PostConfigAemHealthCheckServletOper(createReqSpec());
    }

    public PostConfigAemPasswordResetOper postConfigAemPasswordReset() {
        return new PostConfigAemPasswordResetOper(createReqSpec());
    }

    /**
     * Customize request specification
     * @param reqSpecCustomizer consumer to modify the RequestSpecBuilder
     * @return api
     */
    public CustomApi reqSpec(Consumer<RequestSpecBuilder> reqSpecCustomizer) {
        this.reqSpecCustomizer = reqSpecCustomizer;
        return this;
    }

    /**
     * 
     * 
     *
     * @see #tagsQuery  (optional)
     * @see #combineTagsOrQuery  (optional)
     * return String
     */
    public static class GetAemHealthCheckOper implements Oper {

        public static final Method REQ_METHOD = GET;
        public static final String REQ_URI = "/system/health";

        private RequestSpecBuilder reqSpec;
        private ResponseSpecBuilder respSpec;

        public GetAemHealthCheckOper(RequestSpecBuilder reqSpec) {
            this.reqSpec = reqSpec;
            reqSpec.setAccept("application/json");
            this.respSpec = new ResponseSpecBuilder();
        }

        /**
         * GET /system/health
         * @param handler handler
         * @param <T> type
         * @return type
         */
        @Override
        public <T> T execute(Function<Response, T> handler) {
            return handler.apply(RestAssured.given().spec(reqSpec.build()).expect().spec(respSpec.build()).when().request(REQ_METHOD, REQ_URI));
        }

        /**
         * GET /system/health
         * @param handler handler
         * @return String
         */
        public String executeAs(Function<Response, Response> handler) {
            Type type = new TypeToken<String>(){}.getType();
            return execute(handler).as(type);
        }

        public static final String TAGS_QUERY = "tags";

        /**
         * @param tags (String)  (optional)
         * @return operation
         */
        public GetAemHealthCheckOper tagsQuery(Object... tags) {
            reqSpec.addQueryParam(TAGS_QUERY, tags);
            return this;
        }

        public static final String COMBINE_TAGS_OR_QUERY = "combineTagsOr";

        /**
         * @param combineTagsOr (Boolean)  (optional)
         * @return operation
         */
        public GetAemHealthCheckOper combineTagsOrQuery(Object... combineTagsOr) {
            reqSpec.addQueryParam(COMBINE_TAGS_OR_QUERY, combineTagsOr);
            return this;
        }

        /**
         * Customize request specification
         * @param reqSpecCustomizer consumer to modify the RequestSpecBuilder
         * @return operation
         */
        public GetAemHealthCheckOper reqSpec(Consumer<RequestSpecBuilder> reqSpecCustomizer) {
            reqSpecCustomizer.accept(reqSpec);
            return this;
        }

        /**
         * Customize response specification
         * @param respSpecCustomizer consumer to modify the ResponseSpecBuilder
         * @return operation
         */
        public GetAemHealthCheckOper respSpec(Consumer<ResponseSpecBuilder> respSpecCustomizer) {
            respSpecCustomizer.accept(respSpec);
            return this;
        }
    }
    /**
     * 
     * 
     *
     * @see #bundlesIgnoredQuery  (optional)
     * @see #bundlesIgnoredAtTypeHintQuery  (optional)
     */
    public static class PostConfigAemHealthCheckServletOper implements Oper {

        public static final Method REQ_METHOD = POST;
        public static final String REQ_URI = "/apps/system/config/com.shinesolutions.healthcheck.hc.impl.ActiveBundleHealthCheck";

        private RequestSpecBuilder reqSpec;
        private ResponseSpecBuilder respSpec;

        public PostConfigAemHealthCheckServletOper(RequestSpecBuilder reqSpec) {
            this.reqSpec = reqSpec;
            reqSpec.setAccept("application/json");
            this.respSpec = new ResponseSpecBuilder();
        }

        /**
         * POST /apps/system/config/com.shinesolutions.healthcheck.hc.impl.ActiveBundleHealthCheck
         * @param handler handler
         * @param <T> type
         * @return type
         */
        @Override
        public <T> T execute(Function<Response, T> handler) {
            return handler.apply(RestAssured.given().spec(reqSpec.build()).expect().spec(respSpec.build()).when().request(REQ_METHOD, REQ_URI));
        }

        public static final String BUNDLES_IGNORED_QUERY = "bundles.ignored";

        /**
         * @param bundlesIgnored (List&lt;String&gt;)  (optional)
         * @return operation
         */
        public PostConfigAemHealthCheckServletOper bundlesIgnoredQuery(Object... bundlesIgnored) {
            reqSpec.addQueryParam(BUNDLES_IGNORED_QUERY, bundlesIgnored);
            return this;
        }

        public static final String BUNDLES_IGNORED_AT_TYPE_HINT_QUERY = "bundles.ignored@TypeHint";

        /**
         * @param bundlesIgnoredAtTypeHint (String)  (optional)
         * @return operation
         */
        public PostConfigAemHealthCheckServletOper bundlesIgnoredAtTypeHintQuery(Object... bundlesIgnoredAtTypeHint) {
            reqSpec.addQueryParam(BUNDLES_IGNORED_AT_TYPE_HINT_QUERY, bundlesIgnoredAtTypeHint);
            return this;
        }

        /**
         * Customize request specification
         * @param reqSpecCustomizer consumer to modify the RequestSpecBuilder
         * @return operation
         */
        public PostConfigAemHealthCheckServletOper reqSpec(Consumer<RequestSpecBuilder> reqSpecCustomizer) {
            reqSpecCustomizer.accept(reqSpec);
            return this;
        }

        /**
         * Customize response specification
         * @param respSpecCustomizer consumer to modify the ResponseSpecBuilder
         * @return operation
         */
        public PostConfigAemHealthCheckServletOper respSpec(Consumer<ResponseSpecBuilder> respSpecCustomizer) {
            respSpecCustomizer.accept(respSpec);
            return this;
        }
    }
    /**
     * 
     * 
     *
     * @see #pwdresetAuthorizablesQuery  (optional)
     * @see #pwdresetAuthorizablesAtTypeHintQuery  (optional)
     */
    public static class PostConfigAemPasswordResetOper implements Oper {

        public static final Method REQ_METHOD = POST;
        public static final String REQ_URI = "/apps/system/config/com.shinesolutions.aem.passwordreset.Activator";

        private RequestSpecBuilder reqSpec;
        private ResponseSpecBuilder respSpec;

        public PostConfigAemPasswordResetOper(RequestSpecBuilder reqSpec) {
            this.reqSpec = reqSpec;
            reqSpec.setAccept("application/json");
            this.respSpec = new ResponseSpecBuilder();
        }

        /**
         * POST /apps/system/config/com.shinesolutions.aem.passwordreset.Activator
         * @param handler handler
         * @param <T> type
         * @return type
         */
        @Override
        public <T> T execute(Function<Response, T> handler) {
            return handler.apply(RestAssured.given().spec(reqSpec.build()).expect().spec(respSpec.build()).when().request(REQ_METHOD, REQ_URI));
        }

        public static final String PWDRESET_AUTHORIZABLES_QUERY = "pwdreset.authorizables";

        /**
         * @param pwdresetAuthorizables (List&lt;String&gt;)  (optional)
         * @return operation
         */
        public PostConfigAemPasswordResetOper pwdresetAuthorizablesQuery(Object... pwdresetAuthorizables) {
            reqSpec.addQueryParam(PWDRESET_AUTHORIZABLES_QUERY, pwdresetAuthorizables);
            return this;
        }

        public static final String PWDRESET_AUTHORIZABLES_AT_TYPE_HINT_QUERY = "pwdreset.authorizables@TypeHint";

        /**
         * @param pwdresetAuthorizablesAtTypeHint (String)  (optional)
         * @return operation
         */
        public PostConfigAemPasswordResetOper pwdresetAuthorizablesAtTypeHintQuery(Object... pwdresetAuthorizablesAtTypeHint) {
            reqSpec.addQueryParam(PWDRESET_AUTHORIZABLES_AT_TYPE_HINT_QUERY, pwdresetAuthorizablesAtTypeHint);
            return this;
        }

        /**
         * Customize request specification
         * @param reqSpecCustomizer consumer to modify the RequestSpecBuilder
         * @return operation
         */
        public PostConfigAemPasswordResetOper reqSpec(Consumer<RequestSpecBuilder> reqSpecCustomizer) {
            reqSpecCustomizer.accept(reqSpec);
            return this;
        }

        /**
         * Customize response specification
         * @param respSpecCustomizer consumer to modify the ResponseSpecBuilder
         * @return operation
         */
        public PostConfigAemPasswordResetOper respSpec(Consumer<ResponseSpecBuilder> respSpecCustomizer) {
            respSpecCustomizer.accept(respSpec);
            return this;
        }
    }
}
