/*
 * Adobe Experience Manager (AEM) API
 * Swagger AEM is an OpenAPI specification for Adobe Experience Manager (AEM) API
 *
 * The version of the OpenAPI document: 3.7.1-pre.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api.adobe;

import com.google.gson.reflect.TypeToken;
import java.io.File;

import java.util.ArrayList;
import java.util.Arrays;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import io.restassured.RestAssured;
import io.restassured.builder.RequestSpecBuilder;
import io.restassured.builder.ResponseSpecBuilder;
import io.restassured.http.Method;
import io.restassured.response.Response;

import java.lang.reflect.Type;
import java.util.function.Consumer;
import java.util.function.Function;
import java.util.function.Supplier;
import org.openapitools.client.service.adobeService.JSON;
import static io.restassured.http.Method.*;

public class GraniteApi {

    private Supplier<RequestSpecBuilder> reqSpecSupplier;
    private Consumer<RequestSpecBuilder> reqSpecCustomizer;

    private GraniteApi(Supplier<RequestSpecBuilder> reqSpecSupplier) {
        this.reqSpecSupplier = reqSpecSupplier;
    }

    public static GraniteApi granite(Supplier<RequestSpecBuilder> reqSpecSupplier) {
        return new GraniteApi(reqSpecSupplier);
    }

    private RequestSpecBuilder createReqSpec() {
        RequestSpecBuilder reqSpec = reqSpecSupplier.get();
        if(reqSpecCustomizer != null) {
            reqSpecCustomizer.accept(reqSpec);
        }
        return reqSpec;
    }

    public List<Oper> getAllOperations() {
        return Arrays.asList(
                sslSetup()
        );
    }

    public SslSetupOper sslSetup() {
        return new SslSetupOper(createReqSpec());
    }

    /**
     * Customize request specification
     * @param reqSpecCustomizer consumer to modify the RequestSpecBuilder
     * @return api
     */
    public GraniteApi reqSpec(Consumer<RequestSpecBuilder> reqSpecCustomizer) {
        this.reqSpecCustomizer = reqSpecCustomizer;
        return this;
    }

    /**
     * 
     * 
     *
     * @see #keystorePasswordQuery  (required)
     * @see #keystorePasswordConfirmQuery  (required)
     * @see #truststorePasswordQuery  (required)
     * @see #truststorePasswordConfirmQuery  (required)
     * @see #httpsHostnameQuery  (required)
     * @see #httpsPortQuery  (required)
     * @see #certificateFileMultiPart  (optional)
     * @see #privatekeyFileMultiPart  (optional)
     * return String
     */
    public static class SslSetupOper implements Oper {

        public static final Method REQ_METHOD = POST;
        public static final String REQ_URI = "/libs/granite/security/post/sslSetup.html";

        private RequestSpecBuilder reqSpec;
        private ResponseSpecBuilder respSpec;

        public SslSetupOper(RequestSpecBuilder reqSpec) {
            this.reqSpec = reqSpec;
            reqSpec.setContentType("multipart/form-data");
            reqSpec.setAccept("text/plain");
            this.respSpec = new ResponseSpecBuilder();
        }

        /**
         * POST /libs/granite/security/post/sslSetup.html
         * @param handler handler
         * @param <T> type
         * @return type
         */
        @Override
        public <T> T execute(Function<Response, T> handler) {
            return handler.apply(RestAssured.given().spec(reqSpec.build()).expect().spec(respSpec.build()).when().request(REQ_METHOD, REQ_URI));
        }

        /**
         * POST /libs/granite/security/post/sslSetup.html
         * @param handler handler
         * @return String
         */
        public String executeAs(Function<Response, Response> handler) {
            Type type = new TypeToken<String>(){}.getType();
            return execute(handler).as(type);
        }

        public static final String KEYSTORE_PASSWORD_QUERY = "keystorePassword";

        /**
         * @param keystorePassword (String)  (required)
         * @return operation
         */
        public SslSetupOper keystorePasswordQuery(Object... keystorePassword) {
            reqSpec.addQueryParam(KEYSTORE_PASSWORD_QUERY, keystorePassword);
            return this;
        }

        public static final String KEYSTORE_PASSWORD_CONFIRM_QUERY = "keystorePasswordConfirm";

        /**
         * @param keystorePasswordConfirm (String)  (required)
         * @return operation
         */
        public SslSetupOper keystorePasswordConfirmQuery(Object... keystorePasswordConfirm) {
            reqSpec.addQueryParam(KEYSTORE_PASSWORD_CONFIRM_QUERY, keystorePasswordConfirm);
            return this;
        }

        public static final String TRUSTSTORE_PASSWORD_QUERY = "truststorePassword";

        /**
         * @param truststorePassword (String)  (required)
         * @return operation
         */
        public SslSetupOper truststorePasswordQuery(Object... truststorePassword) {
            reqSpec.addQueryParam(TRUSTSTORE_PASSWORD_QUERY, truststorePassword);
            return this;
        }

        public static final String TRUSTSTORE_PASSWORD_CONFIRM_QUERY = "truststorePasswordConfirm";

        /**
         * @param truststorePasswordConfirm (String)  (required)
         * @return operation
         */
        public SslSetupOper truststorePasswordConfirmQuery(Object... truststorePasswordConfirm) {
            reqSpec.addQueryParam(TRUSTSTORE_PASSWORD_CONFIRM_QUERY, truststorePasswordConfirm);
            return this;
        }

        public static final String HTTPS_HOSTNAME_QUERY = "httpsHostname";

        /**
         * @param httpsHostname (String)  (required)
         * @return operation
         */
        public SslSetupOper httpsHostnameQuery(Object... httpsHostname) {
            reqSpec.addQueryParam(HTTPS_HOSTNAME_QUERY, httpsHostname);
            return this;
        }

        public static final String HTTPS_PORT_QUERY = "httpsPort";

        /**
         * @param httpsPort (String)  (required)
         * @return operation
         */
        public SslSetupOper httpsPortQuery(Object... httpsPort) {
            reqSpec.addQueryParam(HTTPS_PORT_QUERY, httpsPort);
            return this;
        }

         /**
         * It will assume that the control name is file and the &lt;content-type&gt; is &lt;application/octet-stream&gt;
         * @see #reqSpec for customise
         * @param certificateFile (File)  (optional)
         * @return operation
         */
         public SslSetupOper certificateFileMultiPart(File certificateFile) {
            reqSpec.addMultiPart(certificateFile);
            return this;
         }

         /**
         * It will assume that the control name is file and the &lt;content-type&gt; is &lt;application/octet-stream&gt;
         * @see #reqSpec for customise
         * @param privatekeyFile (File)  (optional)
         * @return operation
         */
         public SslSetupOper privatekeyFileMultiPart(File privatekeyFile) {
            reqSpec.addMultiPart(privatekeyFile);
            return this;
         }

        /**
         * Customize request specification
         * @param reqSpecCustomizer consumer to modify the RequestSpecBuilder
         * @return operation
         */
        public SslSetupOper reqSpec(Consumer<RequestSpecBuilder> reqSpecCustomizer) {
            reqSpecCustomizer.accept(reqSpec);
            return this;
        }

        /**
         * Customize response specification
         * @param respSpecCustomizer consumer to modify the ResponseSpecBuilder
         * @return operation
         */
        public SslSetupOper respSpec(Consumer<ResponseSpecBuilder> respSpecCustomizer) {
            respSpecCustomizer.accept(respSpec);
            return this;
        }
    }
}
